@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #b82325;
  --secondary-color: #020202;
  --accent-color: #e74c3c;
  --background-color: #ecf0f1;
  --text-color: white;
  --text-secondary-color: #b4b4b4;
}

body {
  max-width: 85rem;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Fraunces, system-ui, -apple-system;
}

p {
  font-family: Inter, system-ui, -apple-system;
}

a:hover {
  color: var(--primary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--text-secondary-color);
}

.font-azeret-mono {
  font-weight: 500;
  font-family: Azeret Mono, system-ui, -apple-system;
  letter-spacing: 2px;
}

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 12px 21px;
  border-radius: 11px;
  font-family: Inter;
  font-weight: 600;
}
.btn-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text-color);
  color: var(--primary-color);
  padding: 12px 21px;
  border-radius: 11px;
  font-family: Inter;
  font-weight: 600;
}

footer {
  width: 100%;
  min-height: 416px;
  background-color: var(--secondary-color);
}

.hero-section-padding {
  padding: 1rem;
}

.section-padding {
  padding: 0rem 1rem;
}

/* For small screens (sm: min-width 640px) */
@media (min-width: 640px) {
  .hero-section-padding {
    padding: 2.5rem;
  }
  .section-padding {
    padding: 0rem 1.5rem;
  }
}

/* For medium screens (md: min-width 768px) */
@media (min-width: 768px) {
  .hero-section-padding {
    padding: 2.5rem;
  }
  .section-padding {
    padding: 0rem 2rem;
  }
}

/* For large screens (lg: min-width 1024px) */
@media (min-width: 1024px) {
  .hero-section-padding {
    padding: 2rem 6rem;
  }
  .section-padding {
    padding: 0rem 3rem;
  }
}

/* For extra-large screens (xl: min-width 1280px) */
@media (min-width: 1280px) {
  .hero-section-padding {
    padding: 2rem 6rem;
  }
  .section-padding {
    padding: 0rem 4rem;
  }
}

/* For 2XL screens (2xl: min-width 1536px) */
@media (min-width: 1536px) {
  .hero-section-padding {
    padding: 2rem 6rem;
  }
  .section-padding {
    padding: 0rem 5rem;
  }
}

.slide-in-left-animation {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}
.slide-in-right-animation {
  animation: 1s ease-out 0s 1 slideInFromRight;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
